html{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.taillist{
  text-align: center;
}

.footer{
  text-align: left;
  color: white
  background-color: dim grey;
}

.header{
  background-image:url(https://frapplecat.github.io/broadwaydesign/resources/images/the-flatiron-building.png)
}
