h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.taillist{
  font-family: Helvetica;
  text-align: center;
}

.footer{
  font-family: Helvetica;
  text-align: left;
  color: white
  background-color: dim grey;
}

.header{
  background-image:url(https://frapplecat.github.io/broadwaydesign/resources/images/the-flatiron-building.png);
}

.toplink{
  font-family: Helvetica;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.diny{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  background-image:url(https://frapplecat.github.io/broadwaydesign/resources/images/the-flatiron-building.png);
}

.h3norm{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
